@charset "PT-BR";
/* Bebas Neue regular */
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.otf') format(opentype),
    url('fonts/BebasNeue-Regular.ttf') format(truetype);
}

/* Open Sans Italica */
@font-face {
    font-family: 'Open Sans Italic';
    src: url(fonts/OpenSans-Italic.ttf) format(truetype);
    font-style: italic;
}

/* Open Sans Regular */
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

/* Tangerine */
@font-face {
    font-family: 'Tangerine';
    src: url(fonts/Tangerine-Regular.ttf);
    font-weight: normal; font-style: normal;
}

/* Inconsolata Bold */
@font-face {
    font-family: 'Inconsolata Bold';
    src: url(fonts/Inconsolata-Bold.ttf);
    font-weight: bold; font-style: normal;
}

/* Inconsolata Lighter */
@font-face {
    font-family: 'Inconsolata Lighter';
    src: url(fonts/Inconsolata-Light.ttf);
    font-weight: lighter; font-style: normal;
}

/* Inconsolata Regular */
@font-face {
    font-family: 'Inconsolata Regular';
    src: url(fonts/Inconsolata-Regular.ttf);
    font-weight: 400; font-style: normal;
}

:root {
    --cor0: #375B75;
    --cor1: #217FC2;
    --cor2: #144D75;

}

*{
    margin: 0px;
    padding: 0px;
}

/* CORPO DA PAGINA */
body {
    margin: auto;
    text-align: justify;
    min-width: 1000px;
}

/* CONFIGURAÇÕES GERAIS */
p {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20%;
}

h2 {
    font: bold 1.5em 'Inconsolata Bold';
    color: var(--cor1);
}

/* CABEÇAlHO */
header {
    background-color: #375B75;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);text-align: center;
}

header > nav {
    padding: 10px 0px;
}

nav > a {
    transition-duration: 0.5s;
}

a:hover {
    background-color: rgb(48, 48, 48);
    text-decoration: underline;
}

.btn_menu {
    text-decoration: none;
    color: white;
    font: lighter 18px 'Inconsolata Lighter';

    margin: 10px 10px;
    padding: 10px 20px;
}

/* CORPO PRINCIPAL */
main {
    padding-left: 50px;
    max-width: 1000px;
}

.title {
    margin: 35px 0px;
}

#bio {
    margin: 0px;
}

#caixa-foto {
    display: inline-block;
    padding: 50px 50px 0 0;
}

#nome-lucas {
    width: 480px;
    margin: 50px 0 0 0;
    font: 7em 'Bebas Neue';
    color: #217FC2;
}

#nome-eduardo {
    width: 480px;
    margin: -30px 0 0 0;
    font: 7em 'Bebas Neue';
    color: #217FC2;
}

#FotoPerfil {
    border-radius: 0 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

#meusProjetos > a {
    display: inline-block;
    background-color: #144D75;

    font: 700 1.5em 'Open Sans';
    text-align: center;
    text-decoration: none;
    color: white;

    border: 0px solid transparent;
    border-radius: 10px;
    padding: 100px;
    margin: 20px 10px;

    transition-duration: 0.4s;
}

#meusProjetos > a:hover {
    background-color: rgb(184, 176, 176);
}

.flex-container {
    display: flex;
    margin-right: 5%;
}
